App_WebReferences/PV/PaymentVault1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://ssl.selectpayment.com/PV" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://ssl.selectpayment.com/PV" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://ssl.selectpayment.com/PV">
      <s:element name="RegisterCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="tns:WSCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSCustomer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EntityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCompany" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Field1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Field2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Field3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateRegion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EveningPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EveningExt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DaytimePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DaytimeExt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DLState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DLNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterCustomerResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSUpdateResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="returnValue" type="tns:ReturnValue" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ReturnValue">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Error_DoesNotExist" />
          <s:enumeration value="Error_UniqueConstraint" />
          <s:enumeration value="Error_Unknown" />
          <s:enumeration value="Recurring_Due" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UpdateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customerNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="tns:WSCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCustomerResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customerNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerResult" type="tns:WSCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerByField1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="field1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerByField1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerByField1Result" type="tns:ArrayOfWSCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWSCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSCustomer" nillable="true" type="tns:WSCustomer" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomerByCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerByCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerByCardResult" type="tns:ArrayOfWSCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerByBank">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="routingNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerByBankResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerByBankResult" type="tns:ArrayOfWSCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegisteredAccounts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customerNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegisteredAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegisteredAccountsResult" type="tns:ArrayOfWSAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWSAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSAccount" nillable="true" type="tns:WSAccount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountType" type="tns:WSAccountType" />
          <s:element minOccurs="0" maxOccurs="1" name="NameOnAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoutingNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationMonth" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationYear" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="BillAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillStateRegion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillCountry" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Approved" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UsedForMatching" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountReferenceID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WSAccountType">
        <s:restriction base="s:string">
          <s:enumeration value="Checking" />
          <s:enumeration value="Savings" />
          <s:enumeration value="Treasury_Check" />
          <s:enumeration value="Money_Order" />
          <s:enumeration value="Travelers_Check" />
          <s:enumeration value="Convenience_Check" />
          <s:enumeration value="Visa" />
          <s:enumeration value="MasterCard" />
          <s:enumeration value="Discover__Novus" />
          <s:enumeration value="American_Express" />
          <s:enumeration value="Diners__Carte_Blanche" />
          <s:enumeration value="enRoute" />
          <s:enumeration value="JCB" />
          <s:enumeration value="Bank_Card" />
          <s:enumeration value="Gift_Card" />
          <s:enumeration value="On_Us_Card" />
          <s:enumeration value="Payroll_Card" />
          <s:enumeration value="Cashiers_Check" />
          <s:enumeration value="__NONE" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RegisterAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="tns:WSAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterAccountResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accountRefId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="tns:WSAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateAccountResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnregisterAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accountRefId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnregisterAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisterAccountResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnregisterAllAccountsForCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customerNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnregisterAllAccountsForCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisterAllAccountsForCustomerResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetupRecurringPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="wsRecurr" type="tns:WSRecurring" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSRecurring">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountReferenceID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingAmount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Frequency" type="tns:WSFrequency" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentDay" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NumPayments" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentsToDate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NotificationMethod" type="tns:WSNotificationMethod" />
          <s:element minOccurs="1" maxOccurs="1" name="NextPaymentDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Field1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Field2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Field3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Enabled" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentOrigin" type="tns:WSPaymentOrigin" />
          <s:element minOccurs="0" maxOccurs="1" name="RecurringReferenceID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WSFrequency">
        <s:restriction base="s:string">
          <s:enumeration value="Once_a_Month" />
          <s:enumeration value="Twice_a_Month" />
          <s:enumeration value="Once_a_Week" />
          <s:enumeration value="Every_2_Weeks" />
          <s:enumeration value="Once_a_Quarter" />
          <s:enumeration value="Twice_a_Year" />
          <s:enumeration value="Once_a_Year" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WSNotificationMethod">
        <s:restriction base="s:string">
          <s:enumeration value="Merchant_Notify" />
          <s:enumeration value="Merchant_Recording" />
          <s:enumeration value="Postcard" />
          <s:enumeration value="Email" />
          <s:enumeration value="Fax" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WSPaymentOrigin">
        <s:restriction base="s:string">
          <s:enumeration value="Internet" />
          <s:enumeration value="Telephone_IVR" />
          <s:enumeration value="Telephone_Operator" />
          <s:enumeration value="Mailed_In" />
          <s:enumeration value="Drop_Box" />
          <s:enumeration value="Signature_Faxed" />
          <s:enumeration value="Signature_Original" />
          <s:enumeration value="Bounced_Check" />
          <s:enumeration value="Back_Office" />
          <s:enumeration value="Retail__POS" />
          <s:enumeration value="__NONE" />
          <s:enumeration value="Represented_Check" />
          <s:enumeration value="Corporate_Trade_Exchange" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetupRecurringPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetupRecurringPaymentResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRecurringPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="recurringReferenceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wsRecurr" type="tns:WSRecurring" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRecurringPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateRecurringPaymentResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableRecurringPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="recurrRefId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableRecurringPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisableRecurringPaymentResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecurring">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="recurrRefId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecurringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecurringResult" type="tns:WSRecurring" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecurringForCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customerNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecurringForCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecurringForCustomerResult" type="tns:ArrayOfWSRecurring" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWSRecurring">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSRecurring" nillable="true" type="tns:WSRecurring" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaleFromBankAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accountReferenceId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentOrigin" type="tns:WSPaymentOrigin" />
            <s:element minOccurs="1" maxOccurs="1" name="notificationMethod" type="tns:WSNotificationMethod" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="ShippingAmount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EffectiveDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="faceFeeType" type="tns:FaceFeeType" />
            <s:element minOccurs="1" maxOccurs="1" name="ownerApplication" type="tns:WSOwnerApplication" />
            <s:element minOccurs="0" maxOccurs="1" name="batchNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="FaceFeeType">
        <s:restriction base="s:string">
          <s:enumeration value="__None" />
          <s:enumeration value="Face" />
          <s:enumeration value="Bill_Convenience_Face" />
          <s:enumeration value="Custom1" />
          <s:enumeration value="Custom2" />
          <s:enumeration value="Custom3" />
          <s:enumeration value="NSF_Fee" />
          <s:enumeration value="Convenience_Fee" />
          <s:enumeration value="Late_Fee" />
          <s:enumeration value="Bill_Convenience_Fee" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WSOwnerApplication">
        <s:restriction base="s:string">
          <s:enumeration value="Web_Service" />
          <s:enumeration value="RDN" />
          <s:enumeration value="RDX" />
          <s:enumeration value="Remit_Plus" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SaleFromBankAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaleFromBankAccountResult" type="tns:WSResponseMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSResponseMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Error" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="tns:AuthResponseCode" />
          <s:element minOccurs="1" maxOccurs="1" name="ActualDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OriginatedAs" type="tns:SettlementType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AuthResponseCode">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Account_Validated" />
          <s:enumeration value="Funds_Available" />
          <s:enumeration value="Duplicate_Transaction" />
          <s:enumeration value="Declined" />
          <s:enumeration value="Data_Not_Valid" />
          <s:enumeration value="NSF" />
          <s:enumeration value="Uncollected" />
          <s:enumeration value="Fraud_Multiple" />
          <s:enumeration value="Fraud_Single" />
          <s:enumeration value="Stop_Payment" />
          <s:enumeration value="Non_Participant" />
          <s:enumeration value="Velocity_Count" />
          <s:enumeration value="Velocity_Amount" />
          <s:enumeration value="Law_Prohibits" />
          <s:enumeration value="Customer_Opt_Out_All" />
          <s:enumeration value="Customer_Opt_Out_Conversion" />
          <s:enumeration value="Merchant_Opt_Out_Customer" />
          <s:enumeration value="AVS_Declined" />
          <s:enumeration value="CCVS_Declined" />
          <s:enumeration value="Expired" />
          <s:enumeration value="Authorizer_Supressed_Data" />
          <s:enumeration value="Account_Closed" />
          <s:enumeration value="Account_Invalid" />
          <s:enumeration value="Account_Not_ACHable" />
          <s:enumeration value="Account_Holder_Deceased" />
          <s:enumeration value="Account_Frozen" />
          <s:enumeration value="Account_Not_DDA" />
          <s:enumeration value="Account_Invalid_Routing" />
          <s:enumeration value="Account_New" />
          <s:enumeration value="Account_Unknown" />
          <s:enumeration value="Account_No_Debits" />
          <s:enumeration value="Manager_Approval_Required" />
          <s:enumeration value="Processor_Approval_Required" />
          <s:enumeration value="__ERROR_BEGIN" />
          <s:enumeration value="Error_Invalid_Format" />
          <s:enumeration value="Error_Timeout" />
          <s:enumeration value="Error_Internal" />
          <s:enumeration value="Error_Connection" />
          <s:enumeration value="Error_Not_Supported" />
          <s:enumeration value="Error_Not_Subscribed" />
          <s:enumeration value="Error_Batch_Closed" />
          <s:enumeration value="Error_Invalid_Batch" />
          <s:enumeration value="Error_Invalid_Terminal" />
          <s:enumeration value="Error_Transaction_Not_Found" />
          <s:enumeration value="Error_Terminal_Disabled" />
          <s:enumeration value="Error_Invalid_State" />
          <s:enumeration value="Error_MaxData_Exceeded" />
          <s:enumeration value="Error_Unspecified" />
          <s:enumeration value="__NONE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SettlementType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="ACH" />
          <s:enumeration value="Paper_Draft" />
          <s:enumeration value="Image_Replacement_Document" />
          <s:enumeration value="Wire_Transfer" />
          <s:enumeration value="Card_Transfer" />
          <s:enumeration value="Image_Exchange" />
          <s:enumeration value="Online_Payment" />
          <s:enumeration value="Cash_Payment" />
          <s:enumeration value="Wallet_Payment" />
          <s:enumeration value="Third_Party" />
          <s:enumeration value="__NONE" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RecurringSaleFromBankAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accountReferenceId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentOrigin" type="tns:WSPaymentOrigin" />
            <s:element minOccurs="1" maxOccurs="1" name="notificationMethod" type="tns:WSNotificationMethod" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="ShippingAmount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EffectiveDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="faceFeeType" type="tns:FaceFeeType" />
            <s:element minOccurs="0" maxOccurs="1" name="batchNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecurringSaleFromBankAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecurringSaleFromBankAccountResult" type="tns:WSResponseMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditToBankAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accountReferenceId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentOrigin" type="tns:WSPaymentOrigin" />
            <s:element minOccurs="1" maxOccurs="1" name="notificationMethod" type="tns:WSNotificationMethod" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="ShippingAmount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EffectiveDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ownerApplication" type="tns:WSOwnerApplication" />
            <s:element minOccurs="0" maxOccurs="1" name="batchNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditToBankAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditToBankAccountResult" type="tns:WSResponseMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaleFromCardAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accountReferenceId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentOrigin" type="tns:WSPaymentOrigin" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="ShippingAmount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field3" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CCVS" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientIP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFeeAmount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="ownerApplication" type="tns:WSOwnerApplication" />
            <s:element minOccurs="0" maxOccurs="1" name="batchNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaleFromCardAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaleFromCardAccountResult" type="tns:WSResponseMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditToCardAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accountReferenceId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentOrigin" type="tns:WSPaymentOrigin" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="ShippingAmount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field3" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CCVS" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientIP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ownerApplication" type="tns:WSOwnerApplication" />
            <s:element minOccurs="0" maxOccurs="1" name="batchNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditToCardAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditToCardAccountResult" type="tns:WSResponseMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionReferenceNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="includeImages" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionResult" type="tns:WSTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSTransaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EntityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LocationId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentOrigin" type="tns:WSPaymentOrigin" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountType" type="tns:WSAccountType" />
          <s:element minOccurs="1" maxOccurs="1" name="OperationType" type="tns:WSOperationType" />
          <s:element minOccurs="1" maxOccurs="1" name="SettlementType" type="tns:WSSettlementType" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionStatus" type="tns:WSTransactionStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="SettlementStatus" type="tns:WSSettlementStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="EffectiveDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingAmount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Sale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConvenienceFeeAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TerminalNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Field1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Field2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Field3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckMICRLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckMICRSymbolSet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoutingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SwipeTrack1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SwipeTrack2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SwipeTrack3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CardExpiresMonth" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="CardExpiresYear" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="CVVNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBusinessPayment" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="NameOnAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingStateRegion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IpAddressOfOriginator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DLState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DLNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NotificationMethod" type="tns:WSNotificationMethod" />
          <s:element minOccurs="1" maxOccurs="1" name="FaceFeeType" type="tns:WSFaceFeeType" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckFrontImageBytes_TiffG4" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckRearImageBytes_TiffG4" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="OptionalThirdImageBytes_TiffG4" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="OptionalThirdImageDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PresentmentNumber" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WSOperationType">
        <s:restriction base="s:string">
          <s:enumeration value="Sale" />
          <s:enumeration value="Auth" />
          <s:enumeration value="Auth_Only" />
          <s:enumeration value="Credit" />
          <s:enumeration value="__NONE" />
          <s:enumeration value="Refund" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WSSettlementType">
        <s:restriction base="s:string">
          <s:enumeration value="ACH" />
          <s:enumeration value="Check_Image" />
          <s:enumeration value="Card_Transfer" />
          <s:enumeration value="None" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WSTransactionStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Declined" />
          <s:enumeration value="Approved" />
          <s:enumeration value="Error" />
          <s:enumeration value="Voided" />
          <s:enumeration value="Processed" />
          <s:enumeration value="Collected" />
          <s:enumeration value="Awaiting_Capture" />
          <s:enumeration value="Awaiting_Approval" />
          <s:enumeration value="Suspended" />
          <s:enumeration value="In_Collection" />
          <s:enumeration value="In_Research" />
          <s:enumeration value="Disputed" />
          <s:enumeration value="Uncollected_NSF" />
          <s:enumeration value="Invalid__Closed_Account" />
          <s:enumeration value="Other_Check21_Returns" />
          <s:enumeration value="__NONE" />
          <s:enumeration value="Resolved" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WSSettlementStatus">
        <s:restriction base="s:string">
          <s:enumeration value="No_Settlement_Needed" />
          <s:enumeration value="To_Be_Originated" />
          <s:enumeration value="Originating" />
          <s:enumeration value="Originated_Settlement_Pending" />
          <s:enumeration value="Settling" />
          <s:enumeration value="Settled" />
          <s:enumeration value="Charged_Back" />
          <s:enumeration value="__NONE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WSFaceFeeType">
        <s:restriction base="s:string">
          <s:enumeration value="__None" />
          <s:enumeration value="Face" />
          <s:enumeration value="Bill_Convenience_Face" />
          <s:enumeration value="Custom1" />
          <s:enumeration value="Custom2" />
          <s:enumeration value="Custom3" />
          <s:enumeration value="NSF_Fee" />
          <s:enumeration value="Convenience_Fee" />
          <s:enumeration value="Late_Fee" />
          <s:enumeration value="Bill_Convenience_Fee" />
        </s:restriction>
      </s:simpleType>
      <s:element name="VoidTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="originalReferenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VoidTransactionResult" type="tns:WSResponseMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="originalReferenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefundTransactionResult" type="tns:WSResponseMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionByTransactionNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="includeImages" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionByTransactionNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionByTransactionNumberResult" type="tns:WSTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProcessingBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="locationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalNumberIfKnown" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batchNumberToCreate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="autoCloseDateTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="isAutoCloseDateTimeRequired" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProcessingBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateProcessingBatchResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseProcessingBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="batchNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseProcessingBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CloseProcessingBatchResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="batchNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBatchResult" type="tns:WSBatch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSBatch">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EntityId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BatchStatus" type="tns:WSBatchStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ClosedDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DebitCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DebitAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AuthorizedCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeclinedCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VoidCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedByUserId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ClosedByUserId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AutoCloseDateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WSBatchStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Open" />
          <s:enumeration value="Closing" />
          <s:enumeration value="Closed" />
          <s:enumeration value="Orphaned" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetAllOpenBatches">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllOpenBatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllOpenBatchesResult" type="tns:ArrayOfWSBatch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWSBatch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSBatch" nillable="true" type="tns:WSBatch" />
        </s:sequence>
      </s:complexType>
      <s:element name="CloseAllOpenBatches">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseAllOpenBatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CloseAllOpenBatchesResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAutoCloseDateTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="batchNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="autoCloseDateTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAutoCloseDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateAutoCloseDateTimeResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="storeKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="locationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestCredentialsResult" type="tns:WSUpdateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConnection">
        <s:complexType />
      </s:element>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestConnectionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterCustomer" />
  </wsdl:message>
  <wsdl:message name="RegisterCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerByField1SoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerByField1" />
  </wsdl:message>
  <wsdl:message name="GetCustomerByField1SoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerByField1Response" />
  </wsdl:message>
  <wsdl:message name="GetCustomerByCardSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerByCard" />
  </wsdl:message>
  <wsdl:message name="GetCustomerByCardSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerByCardResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerByBankSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerByBank" />
  </wsdl:message>
  <wsdl:message name="GetCustomerByBankSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerByBankResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegisteredAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegisteredAccounts" />
  </wsdl:message>
  <wsdl:message name="GetRegisteredAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegisteredAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterAccountSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterAccount" />
  </wsdl:message>
  <wsdl:message name="RegisterAccountSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UnregisterAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UnregisterAccount" />
  </wsdl:message>
  <wsdl:message name="UnregisterAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UnregisterAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UnregisterAllAccountsForCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:UnregisterAllAccountsForCustomer" />
  </wsdl:message>
  <wsdl:message name="UnregisterAllAccountsForCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:UnregisterAllAccountsForCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="SetupRecurringPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:SetupRecurringPayment" />
  </wsdl:message>
  <wsdl:message name="SetupRecurringPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:SetupRecurringPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRecurringPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRecurringPayment" />
  </wsdl:message>
  <wsdl:message name="UpdateRecurringPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRecurringPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="DisableRecurringPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:DisableRecurringPayment" />
  </wsdl:message>
  <wsdl:message name="DisableRecurringPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:DisableRecurringPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecurringSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecurring" />
  </wsdl:message>
  <wsdl:message name="GetRecurringSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecurringResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecurringForCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecurringForCustomer" />
  </wsdl:message>
  <wsdl:message name="GetRecurringForCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecurringForCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="SaleFromBankAccountSoapIn">
    <wsdl:part name="parameters" element="tns:SaleFromBankAccount" />
  </wsdl:message>
  <wsdl:message name="SaleFromBankAccountSoapOut">
    <wsdl:part name="parameters" element="tns:SaleFromBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="RecurringSaleFromBankAccountSoapIn">
    <wsdl:part name="parameters" element="tns:RecurringSaleFromBankAccount" />
  </wsdl:message>
  <wsdl:message name="RecurringSaleFromBankAccountSoapOut">
    <wsdl:part name="parameters" element="tns:RecurringSaleFromBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="CreditToBankAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreditToBankAccount" />
  </wsdl:message>
  <wsdl:message name="CreditToBankAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreditToBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="SaleFromCardAccountSoapIn">
    <wsdl:part name="parameters" element="tns:SaleFromCardAccount" />
  </wsdl:message>
  <wsdl:message name="SaleFromCardAccountSoapOut">
    <wsdl:part name="parameters" element="tns:SaleFromCardAccountResponse" />
  </wsdl:message>
  <wsdl:message name="CreditToCardAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreditToCardAccount" />
  </wsdl:message>
  <wsdl:message name="CreditToCardAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreditToCardAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransaction" />
  </wsdl:message>
  <wsdl:message name="GetTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:VoidTransaction" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:VoidTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="RefundTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:RefundTransaction" />
  </wsdl:message>
  <wsdl:message name="RefundTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:RefundTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionByTransactionNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionByTransactionNumber" />
  </wsdl:message>
  <wsdl:message name="GetTransactionByTransactionNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionByTransactionNumberResponse" />
  </wsdl:message>
  <wsdl:message name="CreateProcessingBatchSoapIn">
    <wsdl:part name="parameters" element="tns:CreateProcessingBatch" />
  </wsdl:message>
  <wsdl:message name="CreateProcessingBatchSoapOut">
    <wsdl:part name="parameters" element="tns:CreateProcessingBatchResponse" />
  </wsdl:message>
  <wsdl:message name="CloseProcessingBatchSoapIn">
    <wsdl:part name="parameters" element="tns:CloseProcessingBatch" />
  </wsdl:message>
  <wsdl:message name="CloseProcessingBatchSoapOut">
    <wsdl:part name="parameters" element="tns:CloseProcessingBatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetBatchSoapIn">
    <wsdl:part name="parameters" element="tns:GetBatch" />
  </wsdl:message>
  <wsdl:message name="GetBatchSoapOut">
    <wsdl:part name="parameters" element="tns:GetBatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllOpenBatchesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllOpenBatches" />
  </wsdl:message>
  <wsdl:message name="GetAllOpenBatchesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllOpenBatchesResponse" />
  </wsdl:message>
  <wsdl:message name="CloseAllOpenBatchesSoapIn">
    <wsdl:part name="parameters" element="tns:CloseAllOpenBatches" />
  </wsdl:message>
  <wsdl:message name="CloseAllOpenBatchesSoapOut">
    <wsdl:part name="parameters" element="tns:CloseAllOpenBatchesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAutoCloseDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAutoCloseDateTime" />
  </wsdl:message>
  <wsdl:message name="UpdateAutoCloseDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAutoCloseDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="TestCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:TestCredentials" />
  </wsdl:message>
  <wsdl:message name="TestCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:TestCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="PaymentVaultSoap">
    <wsdl:operation name="RegisterCustomer">
      <wsdl:input message="tns:RegisterCustomerSoapIn" />
      <wsdl:output message="tns:RegisterCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input message="tns:UpdateCustomerSoapIn" />
      <wsdl:output message="tns:UpdateCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input message="tns:GetCustomerSoapIn" />
      <wsdl:output message="tns:GetCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByField1">
      <wsdl:input message="tns:GetCustomerByField1SoapIn" />
      <wsdl:output message="tns:GetCustomerByField1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByCard">
      <wsdl:input message="tns:GetCustomerByCardSoapIn" />
      <wsdl:output message="tns:GetCustomerByCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByBank">
      <wsdl:input message="tns:GetCustomerByBankSoapIn" />
      <wsdl:output message="tns:GetCustomerByBankSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredAccounts">
      <wsdl:input message="tns:GetRegisteredAccountsSoapIn" />
      <wsdl:output message="tns:GetRegisteredAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAccount">
      <wsdl:input message="tns:RegisterAccountSoapIn" />
      <wsdl:output message="tns:RegisterAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input message="tns:UpdateAccountSoapIn" />
      <wsdl:output message="tns:UpdateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterAccount">
      <wsdl:input message="tns:UnregisterAccountSoapIn" />
      <wsdl:output message="tns:UnregisterAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterAllAccountsForCustomer">
      <wsdl:input message="tns:UnregisterAllAccountsForCustomerSoapIn" />
      <wsdl:output message="tns:UnregisterAllAccountsForCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetupRecurringPayment">
      <wsdl:input message="tns:SetupRecurringPaymentSoapIn" />
      <wsdl:output message="tns:SetupRecurringPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecurringPayment">
      <wsdl:input message="tns:UpdateRecurringPaymentSoapIn" />
      <wsdl:output message="tns:UpdateRecurringPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableRecurringPayment">
      <wsdl:input message="tns:DisableRecurringPaymentSoapIn" />
      <wsdl:output message="tns:DisableRecurringPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecurring">
      <wsdl:input message="tns:GetRecurringSoapIn" />
      <wsdl:output message="tns:GetRecurringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecurringForCustomer">
      <wsdl:input message="tns:GetRecurringForCustomerSoapIn" />
      <wsdl:output message="tns:GetRecurringForCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaleFromBankAccount">
      <wsdl:input message="tns:SaleFromBankAccountSoapIn" />
      <wsdl:output message="tns:SaleFromBankAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecurringSaleFromBankAccount">
      <wsdl:input message="tns:RecurringSaleFromBankAccountSoapIn" />
      <wsdl:output message="tns:RecurringSaleFromBankAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreditToBankAccount">
      <wsdl:input message="tns:CreditToBankAccountSoapIn" />
      <wsdl:output message="tns:CreditToBankAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaleFromCardAccount">
      <wsdl:input message="tns:SaleFromCardAccountSoapIn" />
      <wsdl:output message="tns:SaleFromCardAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreditToCardAccount">
      <wsdl:input message="tns:CreditToCardAccountSoapIn" />
      <wsdl:output message="tns:CreditToCardAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <wsdl:input message="tns:GetTransactionSoapIn" />
      <wsdl:output message="tns:GetTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <wsdl:input message="tns:VoidTransactionSoapIn" />
      <wsdl:output message="tns:VoidTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefundTransaction">
      <wsdl:input message="tns:RefundTransactionSoapIn" />
      <wsdl:output message="tns:RefundTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionByTransactionNumber">
      <wsdl:input message="tns:GetTransactionByTransactionNumberSoapIn" />
      <wsdl:output message="tns:GetTransactionByTransactionNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateProcessingBatch">
      <wsdl:input message="tns:CreateProcessingBatchSoapIn" />
      <wsdl:output message="tns:CreateProcessingBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseProcessingBatch">
      <wsdl:input message="tns:CloseProcessingBatchSoapIn" />
      <wsdl:output message="tns:CloseProcessingBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBatch">
      <wsdl:input message="tns:GetBatchSoapIn" />
      <wsdl:output message="tns:GetBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOpenBatches">
      <wsdl:input message="tns:GetAllOpenBatchesSoapIn" />
      <wsdl:output message="tns:GetAllOpenBatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseAllOpenBatches">
      <wsdl:input message="tns:CloseAllOpenBatchesSoapIn" />
      <wsdl:output message="tns:CloseAllOpenBatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAutoCloseDateTime">
      <wsdl:input message="tns:UpdateAutoCloseDateTimeSoapIn" />
      <wsdl:output message="tns:UpdateAutoCloseDateTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestCredentials">
      <wsdl:input message="tns:TestCredentialsSoapIn" />
      <wsdl:output message="tns:TestCredentialsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input message="tns:TestConnectionSoapIn" />
      <wsdl:output message="tns:TestConnectionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentVaultSoap" type="tns:PaymentVaultSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterCustomer">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/RegisterCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByField1">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/GetCustomerByField1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByCard">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/GetCustomerByCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByBank">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/GetCustomerByBank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredAccounts">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/GetRegisteredAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAccount">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/RegisterAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterAccount">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/UnregisterAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterAllAccountsForCustomer">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/UnregisterAllAccountsForCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupRecurringPayment">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/SetupRecurringPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecurringPayment">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/UpdateRecurringPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableRecurringPayment">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/DisableRecurringPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecurring">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/GetRecurring" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecurringForCustomer">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/GetRecurringForCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleFromBankAccount">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/SaleFromBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecurringSaleFromBankAccount">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/RecurringSaleFromBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditToBankAccount">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/CreditToBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleFromCardAccount">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/SaleFromCardAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditToCardAccount">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/CreditToCardAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/GetTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/VoidTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefundTransaction">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/RefundTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionByTransactionNumber">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/GetTransactionByTransactionNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProcessingBatch">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/CreateProcessingBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseProcessingBatch">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/CloseProcessingBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatch">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/GetBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOpenBatches">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/GetAllOpenBatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseAllOpenBatches">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/CloseAllOpenBatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAutoCloseDateTime">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/UpdateAutoCloseDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCredentials">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/TestCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="https://ssl.selectpayment.com/PV/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentVaultSoap12" type="tns:PaymentVaultSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterCustomer">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/RegisterCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/GetCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByField1">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/GetCustomerByField1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByCard">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/GetCustomerByCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByBank">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/GetCustomerByBank" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredAccounts">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/GetRegisteredAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAccount">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/RegisterAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterAccount">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/UnregisterAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterAllAccountsForCustomer">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/UnregisterAllAccountsForCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupRecurringPayment">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/SetupRecurringPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecurringPayment">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/UpdateRecurringPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableRecurringPayment">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/DisableRecurringPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecurring">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/GetRecurring" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecurringForCustomer">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/GetRecurringForCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleFromBankAccount">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/SaleFromBankAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecurringSaleFromBankAccount">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/RecurringSaleFromBankAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditToBankAccount">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/CreditToBankAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleFromCardAccount">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/SaleFromCardAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditToCardAccount">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/CreditToCardAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/GetTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/VoidTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefundTransaction">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/RefundTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionByTransactionNumber">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/GetTransactionByTransactionNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProcessingBatch">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/CreateProcessingBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseProcessingBatch">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/CloseProcessingBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatch">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/GetBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOpenBatches">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/GetAllOpenBatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseAllOpenBatches">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/CloseAllOpenBatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAutoCloseDateTime">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/UpdateAutoCloseDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCredentials">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/TestCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="https://ssl.selectpayment.com/PV/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentVault">
    <wsdl:port name="PaymentVaultSoap" binding="tns:PaymentVaultSoap">
      <soap:address location="https://ssl.selectpayment.com/PV/PaymentVault.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentVaultSoap12" binding="tns:PaymentVaultSoap12">
      <soap12:address location="https://ssl.selectpayment.com/PV/PaymentVault.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>